.footerCt {
  margin-top: 120px;
  background: #031d06;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.firstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  margin-right: 120px;
}

.secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.secondRow p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.col1 {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-top: 103px;
}
.col1 h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.col1 p {
  width: 296px;
  padding-top: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 30px;
}

.imgsCt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 188px;
}

.imgCt {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.col2 {
  padding-left: 88px;
}

.col2,
.col3,
.col4,
.col5 {
  display: flex;
  flex-direction: column;
  padding-top: 113px;
  flex-basis: 20%;
  width: max-content;
}
.col2 {
  /* margin-left: 10px; */
}

.colh3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.col3 {
  margin-left: 80px;
}
.col4 {
  margin-left: 34px;
}
.col5 {
  margin-left: 36px;
}
.col2 ul,
.colul {
  padding-top: 30px;
}

.col2 ul li,
.colli {
  list-style: none;
  padding-bottom: 17px;
}
.footer_a {
  width: 66px;
  height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

.col4 h3 {
  width: max-content;
}

.tourDoth3 {
  width: 163px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .colh3 {
    font-size: 12px;
  }
  .col3 {
    margin-left: 35px;
  }
  .col5 {
    margin-left: 50px;
  }
  .tourDoth3 {
    font-size: 25px !important;
  }
  .col1 p {
    font-size: 10px;
    padding-bottom: 60px;
  }
  .footer_a {
    font-size: 10px;
  }
  .firstRow {
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
  }
  .firstRow > *:not(:first-child) {
    padding-left: 10px;
    padding-right: 0;
  }
  .firstRow > :nth-child(2) {
    padding-left: 100px;
  }
}

@media screen and (max-width: 950px) {
  .col1 {
    padding-left: 0;
  }
  .colh3 {
    font-size: 12px;
  }
  .col3 {
    margin-left: -15px;
  }
  .col5 {
    margin-left: 50px;
  }
  .col1 p {
    width: fit-content;
    padding-top: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 30px;
  }
  .firstRow > *:not(:first-child) {
    padding-left: 20px;
    padding-right: 0;
  }
  .firstRow {
    display: grid;
    grid-template-columns: 40% 15% 10% 20% 15%;
  }
  .imgCt {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 650px) {
  .col1 {
    padding-left: 0;
    padding-right: 0;
  }
  .firstRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .colh3 {
    font-size: 8px !important;
    width: max-content;
  }
  .footer_a {
    font-size: 8px;
  }

  .tourDoth3 {
    font-size: 18px !important;
  }

  .colh3 {
    font-size: 12px;
  }
  .col3 {
    margin-left: -15px;
  }
  .col5 {
    margin-left: 50px;
  }
  .col1 p {
    width: fit-content;
    padding-top: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 30px;
  }
  .firstRow > *:not(:first-child) {
    padding-left: 20px;
    padding-right: 0;
  }
  .firstRow {
    display: grid;
    grid-template-columns: 40% 15% 10% 20% 15%;
  }
  .imgCt {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 570px) {
  .col1 {
    display: none;
  }
  .firstRow {
    display: flex;
    justify-content: space-evenly;
  }

  .colh3 {
    font-size: 10px;
    width: max-content;
  }
  .footer_a {
    font-size: 8px;
  }

  .tourDoth3 {
    font-size: 16px;
  }
  .secondRow {
    width: 250px;
    margin: 0 auto;
  }
}
